<table>
    <tr>
        <td><img src="imatges/persones31.png"></td>
        <td>
            <font color="#F6761B" face="Arial" size="5">

            <b>GESTIO DE PRODUCTES</b>
            </font>
        </td>
    </tr>
</table>
